{% comment %}
   - LOS PROYECTOS EN EL FICHERO DE DATOS TIENEN QUE ESTAR ORDENADOS POR AÑO
{% endcomment %}

{% for project in site.data.projects-research %}
    {% if include.author_id == nil or project.main_researcher contains site.data.people[include.author_id].projects_name %}
      {% assign has-project-research = true %}
    {% endif %}
{% endfor %}

{% if has-project-research %}
<h3>Research</h3>
<ul>
{% for project in site.data.projects-research %}
    {% if include.author_id == nil or project.main_researcher contains site.data.people[include.author_id].projects_name %}
        <li>
        {% if project.url %}
        <a href="{{ project.url }}"><b>{{ project.title }}</b>.</a>
        {% else %}
        <b>{{ project.title }}</b>.
        {% endif %}

        {% for org in project.organizations %}
            {% if org.organization_url %}
            <a href="{{ org.organization_url }}">{{ org.organization }}.</a>
            {% else %}
            {{ org.organization }}.
            {% endif %}
        {% endfor %}
        {% if project.reference %}
          {{ project.reference }}.
        {% endif %}
        {{ project.years }}.&nbsp;Lead researcher:&nbsp;{{project.main_researcher}}
        </li>
    {% endif %}
{% endfor %}
</ul>
{% endif %}

{% for project in site.data.projects-otri %}
    {% if include.author_id == nil or project.main_researcher contains site.data.people[include.author_id].projects_name %}
      {% assign has-projects-otri = true %}
    {% endif %}
{% endfor %}
{% if has-projects-otri %}
<h3>Consulting and Knowledge &amp; Technology Transfer</h3>
<ul>
{% for project in site.data.projects-otri %}
    {% if include.author_id == nil or project.main_researcher contains site.data.people[include.author_id].projects_name %}
        <li>
        {% if project.url %}
        <a href="{{ project.url }}"><b>{{ project.title }}</b>.</a>
        {% else %}
        <b>{{ project.title }}</b>.
        {% endif %}

        {% for org in project.organizations %}
            {% if org.organization_url %}
            <a href="{{ org.organization_url }}">{{ org.organization }}.</a>
            {% else %}
            {{ org.organization }}.
            {% endif %}
        {% endfor %}
        {% if project.reference %}
          {{ project.reference }}.
        {% endif %}
        {{ project.years }}.&nbsp;Lead researcher:&nbsp;{{project.main_researcher}}
        </li>
    {% endif %}
{% endfor %}
</ul>
{% endif %}

{% for project in site.data.projects-mou %}
    {% if include.author_id == nil or project.main_researcher contains site.data.people[include.author_id].projects_name %}
      {% assign has-projects-mou= true %}
    {% endif %}
{% endfor %}
{% if has-projects-mou %}
<h3>Collaboration Agreements</h3>
<ul>
{% for project in site.data.projects-mou %}
    {% if include.author_id == nil or project.main_researcher contains site.data.people[include.author_id].projects_name %}
        <li>
        {% if project.url %}
        <a href="{{ project.url }}"><b>{{ project.title }}</b>.</a>
        {% else %}
        <b>{{ project.title }}</b>.
        {% endif %}

        {% for org in project.organizations %}
            {% if org.organization_url %}
            <a href="{{ org.organization_url }}">{{ org.organization }}.</a>
            {% else %}
            {{ org.organization }}.
            {% endif %}
        {% endfor %}
        {% if project.reference %}
          {{ project.reference }}.
        {% endif %}
        {{ project.years }}.&nbsp;Lead researcher:&nbsp;{{project.main_researcher}}
        </li>
    {% endif %}
{% endfor %}
</ul>
{% endif %}
